{% if measure.display_action_column %}
    {% set col1_class = "min15" %}
    {% set col2_class = "min70" %}
    {% set col3_class = "min15" %}
{% else %}
    {% set col1_class = "min20" %}
    {% set col2_class = "min80" %}
{% endif %}

{% if measure.measure_condition_class == "eps" %}
    {% set col1_text = "Import price" %}
    {% set col2_text = "" %}
    {% set col3_text = "Apply duty" %}

    {% set col1_class = "min50" %}
    {% set col3_class = "min50" %}
{% else %}
    {% set col1_text = "Document code" %}
    {% set col2_text = "Requirement" %}
    {% set col3_text = "Action" %}
{% endif %}

<p>{{ measure.popup_message | safe }}</p>

{% set previous_condition_code = "" %}
{% set previous_condition_class_label = "" %}

<table class="govuk-table govuk-table--m">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header {{ col1_class }}">{{ col1_text }}</th>
            {% if measure.measure_condition_class != "eps" %}
                <th scope="col" class="govuk-table__header {{ col2_class }}">{{ col2_text }}</th>
            {% endif %}
            {% if measure.display_action_column %}
                <th scope="col" class="govuk-table__header {{ col3_class }}">{{ col3_text }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="govuk-table__body--m">
        {% for mc in measure.exposed_conditions %}
            {% if mc.positive %}
                <tr class="govuk-table__row">
                    {% if measure.measure_condition_class == "eps" %}
                        <td class="govuk-table__cell">Greater than or equal to {{ mc.requirement | safe }}</td>
                    {% else %}
                        <td class="govuk-table__cell b">{{ mc.document_code | safe }}</td>
                    {% endif %}
                    {% if measure.measure_condition_class != "eps" %}
                        <td class="govuk-table__cell">
                            {{ mc.requirement | safe }}
                            {% if mc.document_code == "n/a" %}
                            {% else %}
                                {% if context.show_cds %}
                                    <details class="govuk-details govuk-!-margin-left-1 govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                                Instructions for CDS
                                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            {{ mc.appendix_5a.guidance_cds | safe }}
                                        </div>
                                    </details>
                                {% endif %}
                                {% if context.show_chief %}
                                    <details class="govuk-details govuk-!-margin-left-1 govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                        Instructions for CHIEF
                                                    </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            {% if mc.appendix_5a.guidance_chief | length > 0 %}
                                                {{ mc.appendix_5a.guidance_chief | safe }}
                                            {% else %}
                                                <p>No information is available.</p>
                                            {% endif %}
                                        </div>
                                    </details>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if measure.display_action_column %}
                        <td class="govuk-table__cell">
                            {% if measure.measure_condition_class == "eps" %}
                                {{ mc.duty_expression | safe }}
                            {% else %}
                                {{ mc.action }}<br>{{ mc.duty_expression | safe }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
            {% set previous_condition_class_label = mc.condition_class_label %}
        {% endfor %}
    </tbody>
</table>