<!-- Start conditions //-->
{% for measure in commodity.measures %}
    {% if (measure.has_conditions == true) %}
        <div id="measure_conditions_{{ measure.id }}" class="modal modal_commodity">
            {% if measure.condition_content and measure.overwrite_measure_conditions %}
                {{ measure.condition_content | safe }}
            {% else %}
                <h2 class="govuk-heading govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-2">
                    {{ measure.measure_type_description }} - {{ measure.geographical_area_description }}
                </h2>
                {% if measure.effective_end_date %}
                    <span class="small_text_in_h2">(From {{ measure.effective_start_date | format_date("DD MMM YYYY") }}
                        to {{ measure.effective_end_date | format_date("DD MMM YYYY") }})</span>
                {% else %}
                    <span class="small_text_in_h2">(From {{ measure.effective_start_date | format_date("DD MMM YYYY") }})</span>
                {% endif %}

                {% set msg = 'You can view detailed guidance on how to enter document codes for declarations on <a href="https://www.gov.uk/guidance/get-access-to-the-customs-declaration-service">CDS</a> and <a href="https://www.gov.uk/guidance/apply-to-access-customs-handling-of-import-and-export-freight-c1800">CHIEF</a>. <a href="/tools/preferences">Change preferences to show or hide instructions for CHIEF or CDS</a>.' %}
                {% if context.show_chief or context.show_cds %}
                    {% set col1_class = "min20"%}
                    {% set col2_class = "min40"%}
                    {% set col3_class = "min40"%}
                {% else %}
                    {% set col1_class = "min20"%}
                    {% set col2_class = "min80"%}
                {% endif %}

                <div class="govuk-inset-text">
                    {{ msg | safe }}
                </div>
                {# <p>The table below shows the conditions associated with the <strong>{{ measure.measure_type_description }}</strong>
                            measure on the import of commodity <strong>{{ commodity.data.attributes.goods_nomenclature_item_id }}</strong>
                            from <strong>{{ measure.geographical_area_description }}</strong>.
                        </p> #}
                <p>{{ measure.popup_message }}</p>

                {% set previous_condition_code = "" %}
                {% set rule_column = "Rule" %}
                {% set previous_condition_class_label = "" %}

                <table class="govuk-table govuk-table--m">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header {{ col1_class }}">Document code</th>
                            <th scope="col" class="govuk-table__header {{ col2_class }}">Description</th>
                            {% if context.show_chief or context.show_cds %}
                                <th scope="col" class="govuk-table__header {{ col3_class }} declaration_th">Declaration instructions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body--m">
                        {% for mc in measure.exposed_conditions %}
                            {% if mc.positive %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell b">{{ mc.document_code }}</td>
                                    <td class="govuk-table__cell">
                                        {{ mc.requirement | safe }}
                                    </td>
                                    {% if context.show_chief or context.show_cds %}
                                        <td class="govuk-table__cell instructions">
                                            {% if context.show_cds %}
                                                <h3 class="govuk-!-font-size-16">Instructions for CDS</h3>
                                                {% if mc.appendix_5a.guidance_cds | length > 0 %}
                                                    {{ mc.appendix_5a.guidance_cds | safe }}
                                                {% else %}
                                                    <p>No information is available.</p>
                                                {% endif %}
                                            {% endif %}
                                            {% if context.show_chief %}
                                                <h3 class="govuk-!-font-size-16">Instructions for CHIEF</h3>
                                                {% if mc.appendix_5a.guidance_chief | length > 0 %}
                                                    {{ mc.appendix_5a.guidance_chief | safe }}
                                                {% else %}
                                                    <p>No information is available.</p>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                            {% set previous_condition_class_label = mc.condition_class_label %}
                        {% endfor %}
                    </tbody>
                </table>
                {% if measure.condition_content and measure.overwrite_measure_conditions == false %}
                    {{ measure.condition_content | safe }}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
<!-- End conditions //-->