{{ govukFooter({
  navigation: [
    {
      title: "Contact",
      items: [
        {
          href: "https://www.gov.uk/guidance/ask-hmrc-for-advice-on-classifying-your-goods",
          text: "Ask HMRC for advice on classifying your goods"
        },
        {
          href: "https://www.gov.uk/guidance/ask-hmrc-for-advice-on-classifying-your-goods",
          text: "Imports and exports: general enquiries"
        },
        {
          href: "https://www.trade-tariff.service.gov.uk/feedback",
          text: "Feedback"
        }
      ]
    },
    {
      title: "Help",
      items: [
        {
          href: "https://www.gov.uk/guidance/finding-commodity-codes-for-imports-or-exports",
          text: "Finding commodity codes for imports or exports"
        },
        {
          href: "https://www.gov.uk/topic/business-tax/import-export",
          text: "Import and export"
        },
        {
          href: "https://www.gov.uk/check-how-to-import-export",
          text: "Check how to import and export goods"
        },
        {
          href: "https://www.gov.uk/guidance/apply-for-an-advance-tariff-ruling",
          text: "Advance tariff rulings"
        }
      ]
    },
    {
      title: "Related information",
      items: [
        {
          href: "https://www.gov.uk/government/collections/uk-trade-tariff-volume-1",
          text: "UK Trade Tariff: Volume 1 – background information for importers and exporters"
        },
        {
          href: "https://www.gov.uk/government/collections/uk-trade-tariff-volume-3",
          text: "UK Trade Tariff: Volume 3 – procedures, codes and declaration entry details"
        },
        {
          href: "https://api.trade-tariff.service.gov.uk/#gov-uk-trade-tariff-api",
          text: "API Documentation"
        }
      ]
    }
    
  ],
  meta: {
    items: [
      {
        href: "/privacy",
        text: "Privacy"
      },
      {
        href: "/cookies",
        text: "Cookies"
      },
      {
        href: "/accessibility",
        text: "Accessibility"
      },
      {
        href: "/terms",
        text: "Terms and conditions"
      }
    ]
  }
}) }}