<h2 class="govuk-heading-s">Sorting alphabetically</h2>
<div class="alpha">
    {% set latest_chapter = "" %}
    {% set latest_heading = "" %}
    {% set tiers_previous = [] %}
    {% for hit in hits.hits %}
        {% if hit.display == true %}
            {# Always show the chapter, provided it has changed from the previous chapter #}
            {# {{ hit._source | dump }} #}
            {% set tiers = hit._source.hierarchy | reverse %}
            {% set tiers = (tiers.push(
                {
                    "goods_nomenclature_item_id": hit._source.goods_nomenclature_item_id,
                    "productline_suffix": hit._source.productline_suffix,
                    "class": hit._source.class,
                    "description": hit._source.description
                }
            ), tiers) %}

            {{ tiers | dump }}

            {# <p>{{ hit._source.goods_nomenclature_item_id }}</p>
            <p style="font-size:10px">{{ hit._source.hierarchy | dump }}</p>


            {% if hit._source.chapter_id != latest_chapter %}
                <p>
                    <span class="b">
                    Chapter {{ hit._source.chapter_id | safe }}
                    </span><br>
                    {{ hit._source.hierarchy[hit._source.hierarchy | length - 1].description | safe }}
                </p>
            {% endif %}

            {% if hit._source.heading_id != latest_heading %}
                {% if hit._source.class == "heading" %}
                    <p class="heading">
                        <span class="b">
                            Heading {{ hit._source.heading_id | safe }}
                        </span><br>
                        {{ hit._source.description | safe }}
                    </p>
                {% endif %}
            {% endif %} #}

            {% set latest_chapter = hit._source.chapter_id %}
            {% set latest_heading = hit._source.heading_id %}
            <hr>

        {% endif %}
    {% endfor %}

    {% for hit in hits.hits %}
        {% if hit.display == true %}
            <p>{{ hit._source.class }}
                {{ hit._source.goods_nomenclature_item_id }}</p>
        {% endif %}
    {% endfor %}
</div>