{% extends "layout.html" %}

{% block pageTitle %}
  Are your goods wholly obtained - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: "/commodities/" + commodity.data.attributes.goods_nomenclature_item_id + "/" + context.scope_id
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <form action="/roo/wholly_obtained/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">
                <span class="govuk-caption-xl">{{ context.rules_of_origin_title }}</span>
                <h1 class="govuk-heading-xl">How to work out if your products are 'originating'</h1>
                <p class="govuk-body-l">Rules of origin are the criteria needed to determine the national source of a product. Their importance is derived from the fact that duties and restrictions in several cases depend upon the source of imports.</p>

                {{ context.originating | convert_markdown | safe }}

                <div class="govuk-inset-text">
                    Use this tool to help you to work out if your products meet these rules of origin.
                </div>

                {{ govukButton({
                    text: "Continue",
                    href: ""
                }) }}

            </form>
        </div>
    </div>

{% endblock %}
</html>