{% extends "layout.html" %}

{% block pageTitle %}
  Are your goods wholly obtained - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: "/commodities/" + commodity.data.attributes.goods_nomenclature_item_id + "/" + context.scope_id
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <form action="/roo/wholly_obtained_info/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">
                <span class="govuk-caption-xl commodity-split">{{ context.rules_of_origin_title | safe }}</span>
                <h1 class="govuk-heading-l">
                    How to work out if your products are classed as 'originating' in
                    {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}
                </h1>
                <p class="govuk-body-l">Rules of origin are the criteria which determine the national source of a product.
                    They are important as they determine if your trade is eligible for preferential tariff treatment.</p>

                <div class="govuk-inset-text panel_grey">
                    <ul class="govuk-list commodity-split">
                        {% if context.trade_direction == "import" %}
                            <li>The third-country duty (or <abbr title="Most-Favoured Nation">MFN</abbr> duty)
                            for importing commodity {{ context.goods_nomenclature_item_id | format_and_trim_commodity_code | safe }} is <span class="roo_duty">{{ context.mfn }}</span>.</li>
                            {% if context.has_preferential_rates %}
                                {% if context.preference != Null %}
                                    <li>The {{ context.scheme_title }} features a tariff preference with a duty of
                                    <span class="roo_duty">{{ context.preference }}</span>.
                                </li>
                                {% endif %}
                                {% if context.quota != Null %}
                                    <li>The {{ context.scheme_title }} features a preferential quota
                                        (order number <span class="roo_duty">{{ context.quota["ordernumber"] }}</span>)
                                    with a preferential duty of <span class="roo_duty">{{ context.quota["duty"] }}</span>.
                                </li>
                                {% endif %}

                            {% else %}
                                <li>While there are <span class="roo_duty">no preferential duty rates</span> for importing commodity
                                    {{ context.goods_nomenclature_item_id | format_and_trim_commodity_code | safe }} from {{ context.country_name }}, 
                                    you may still use this tool to help you to work out if your products are classed as originating in
                                    {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}.</li>
                            {% endif %}
                        {% endif %}

                        {% if context.trade_direction == "import" %}
                            {% if context.has_preferential_rates %}
                                <li>Use this tool to help you to work out if your products are classed as originating in
                                {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}
                                and eligible for preferential duties subject to the {{ context.scheme_title }}.</li>
                            {% endif %}
                        {% else %}
                            <li>Use this tool to help you to work out if your products are classed as originating in
                        {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}.</li>
                        {% endif %}
                    </ul>
                </div>

                {{ context.originating | convert_markdown | link_to_roo_original(context.original) | safe }}

                <p>Click on the 'Continue' button to view the definition of 'wholly obtained' for the {{ context.scheme_title }}.</p>
                {{ govukButton({
                    text: "Continue",
                    href: ""
                }) }}

            </form>
        </div>
    </div>

{% endblock %}
</html>