{% extends "layout.html" %}

{% block pageTitle %}
  How to work out if your products are classed as 'originating' - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: context.back_link
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters roo_container">

            <form action="/roo/wholly_obtained_info/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">
                <span class="govuk-caption-xl commodity-split">{{ context.rules_of_origin_title | safe }}</span>
                <h1 class="govuk-heading-l">
                    How to work out if your products are classed as 'originating' in
                    {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}
                </h1>
                {# <p class="govuk-body-l">Rules of origin are the criteria which determine the national source of a product.
                    They are important as they determine if your trade is eligible for preferential tariff treatment.</p> #}
                <p class="govuk-body-l">This page defines the broad rules that determine if your product originates in
                        {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}
                        according to the {{ context.scheme_title }}.
                    </p>

                {% if context.trade_direction == "import" %}
                    <div class="govuk-inset-text panel_grey">
                        <p class="b">How rules of origin could affect the duty payable</p>
                        <ul class="govuk-list commodity-split">
                            <li>The third-country duty (or <abbr title="Most-Favoured Nation">MFN</abbr> duty)
                            for importing commodity {{ context.goods_nomenclature_item_id | format_and_trim_commodity_code | safe }} is <span class="roo_duty">{{ context.mfn }}</span>.</li>
                            {% if context.has_preferential_rates %}
                                {% if context.preference != Null %}
                                    <li>The {{ context.scheme_title }} features a tariff preference with a duty of
                                    <span class="roo_duty">{{ context.preference }}</span>.
                                </li>
                                {% endif %}
                                {% if context.quota != Null %}
                                    <li>The {{ context.scheme_title }} features a preferential quota
                                        (order number <span class="roo_duty">{{ context.quota["ordernumber"] }}</span>)
                                    with a preferential duty of <span class="roo_duty">{{ context.quota["duty"] }}</span>.
                                </li>
                                {% endif %}

                            {% else %}
                                <li>While there are <span class="roo_duty">no preferential duty rates</span> for importing commodity
                                    {{ context.goods_nomenclature_item_id | format_and_trim_commodity_code | safe }} from {{ context.country_name }}, 
                                    you may still use this tool to help you to work out if your products are classed as originating in
                                    {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}.</li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

                <div class="commodity-split">
                    {# <p>According to the {{ context.scheme_title }}, the following products will be considered as originating in Albania:</p> #}
                    <p>The following products are considered as originating in {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            products <strong>wholly obtained</strong> in {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }};
                        </li>
                        <li>
                            products obtained in Albania incorporating materials which have not been wholly obtained there,
                            provided that these materials have undergone <strong>sufficient working or processing</strong> in
                            {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}
                            to obtain originating status;
                        </li>
                        <li>
                            items produced using some <strong>non-originating materials</strong>, provided the product meets the rules specifically
                            associated with commodity {{ context.goods_nomenclature_item_id | format_and_trim_commodity_code | safe }}.
                        </li>
                    </ul>
                    <p>These concepts are defined throughout the next pages, so that you can determine if your product meets the rules of origin.</p>
                </div>

                {# <div class="agreement_content">{{ context.originating | convert_markdown | safe }}</div> #}

                {# {% if context.features["absorption"] == true %}
                <p>The {{ context.scheme_title }} features a principle known as <b>absorption</b>, meaning that non-originating
                intermediate components may be classed as originating, if they have gained originating status in the trading partner.</p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">How the absorption principle works</span>
                    </summary>
                    <div class="govuk-details__text">
                        {% include "includes/absorption.html" %}
                    </div>
                </details>
                {% endif %} #}

                <p class="b">Next step</p>
                <p>Click on the 'Continue' button to view the definition of '<b>wholly obtained</b>' for the {{ context.scheme_title }}.</p>
                {{ govukButton({
                    text: "Continue",
                    href: ""
                }) }}

            </form>
        </div>
    </div>

{% endblock %}
</html>