{% extends "layout.html" %}

{% block pageTitle %}
  Cumulation - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: context.back_link
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters roo_container">
            <form action="/roo/data_handler/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">
                <input type="hidden" name="phase" id="phase" value="processing" >
                <span class="govuk-caption-xl commodity-split">{{ context.rules_of_origin_title | safe }}</span>
                <h1 class="govuk-heading-l">Including parts or components from other countries</h1>
                <p class="govuk-body-l">Not all of the parts that make up your goods
                    come from {{ context.country_name }}.</p>

                <p class="govuk-body-l">In order to qualify for preferential treatment, you 
                    may be able to include parts that come from other countries. This depends on the 
                    <strong>cumulation rules</strong> of the trade agreement, which are described below.
                </p>

                <div class="govuk-inset-text">
                    <p>
                        <strong>Cumulation</strong> may allow for the origin of materials or processing undertaken in country A
                        to be added to the materials and processing undertaken within country B, so long as they are further
                        processed or added to products originating in country B.</p>
                </div>

                <h2 class="govuk-heading-m">Cumulation in the {{ context.scheme_title }}</h2>
                {% if context.cumulation_types["count"] > 0 %}
                    <div class="govuk-inset-text">
                        <p>The {{ context.scheme_title }} features {{ context.cumulation_types["count"] }}
                            {{ "type" if context.cumulation_types["count"] == 1 else "types" }}
                             of cumulation. These are described below.</p>

                        {% if context.cumulation_types["bilateral"] == true %}
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Bilateral cumulation</span>
                                </summary>
                                <div class="govuk-details__text">
                                    {{ context.cumulation_texts["bilateral"] | convert_markdown | safe }}
                                </div>
                            </details>
                        {% endif %}

                        {% if context.cumulation_types["diagonal"] == true %}
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Diagonal cumulation</span>
                                </summary>
                                <div class="govuk-details__text">
                                    {{ context.cumulation_texts["diagonal"] | convert_markdown | safe }}
                                </div>
                            </details>
                        {% endif %}

                        {% if context.cumulation_types["extended"] == true %}
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Extended (or third-party) cumulation</span>
                                </summary>
                                <div class="govuk-details__text">
                                    {{ context.cumulation_texts["extended"] | convert_markdown | safe }}
                                </div>
                            </details>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="agreement_content">{{ context.cumulation | convert_markdown | link_to_roo_original(context.original) | safe }}</div>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Please note</span>
                        Bear cumulation rules in mind when working out if your non-originating parts
                        meet the product-specific rules.
                    </strong>
                </div>
                
                {{ govukButton({
                    text: "Continue",
                    href: "/roo/insufficient_processing/" + context.goods_nomenclature_item_id + "/" + context.country
                }) }}

            </form>
        </div>
    </div>

{% endblock %}
</html>