{% extends "layout.html" %}

{% block pageTitle %}
  Cumulation - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: "/roo/not_wholly_obtained/" + context.goods_nomenclature_item_id + "/" + context.country
    }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds roo_container">
            <form action="/roo/data_handler/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">
                <input type="hidden" name="phase" id="phase" value="processing" >
                {# <span class="govuk-caption-xl commodity-split">{{ context.rules_of_origin_title | safe }}</span> #}
                <span class="govuk-caption-xl commodity-split">Are your goods originating?</span>
                <h1 class="govuk-heading-xl">Including parts or components from other countries</h1>

                <p class="govuk-body-l">
                    In order to qualify for preferential treatment, you 
                    may be able to include parts that come from other countries. This depends on the 
                    <strong>cumulation rules</strong> of the trade agreement, which are described below.
                </p>

                <div class="xgovuk-inset-text">
                    <p>
                        <strong>Cumulation</strong> may allow for the origin of materials or processing undertaken in country A
                        to be added to the materials and processing undertaken within country B, so long as they are further
                        processed or added to products originating in country B.
                    </p>
                    <p>This allows those factors that contributed to the origin of country A materials
                        to be considered as though undertaken in B.
                    </p>
                </div>

                <h2 class="govuk-heading-m">Cumulation in the {{ context.scheme_title }}</h2>
                {% if context.cumulation_types["count"] > 0 %}
                    <div class="govuk-inset-text">
                        {% if context.cumulation_types["count"] > 1 %}
                            <p>The {{ context.scheme_title }} features {{ context.cumulation_types["count"] }}
                                {{ "type" if context.cumulation_types["count"] == 1 else "types" }}
                                of cumulation. These are described below.
                            </p>
                        {% else %}
                            <p>The {{ context.scheme_title }} features {{ context.cumulation_types["types"][0] }} cumulation.</p>
                            {# <p>{{ context.cumulation_options["bilateral"]["copy"] | convert_markdown | safe }} #}
                        {% endif %}
                    </div>
                    <div class="cumulation_images">

                        {% if context.cumulation_types["bilateral"] == true %}
                            <p class="b">Bilateral cumulation</p>
                            {{ context.cumulation_texts["bilateral"] | convert_markdown | safe }}
                            <div class="govuk-inset-text">
                                {{ context.cumulation_options["bilateral"]["copy"] | convert_markdown | safe }}
                            </div>
                        {% endif %}

                        {% if context.cumulation_types["diagonal"] == true %}
                            <p class="b">Diagonal cumulation</p>
                            {{ context.cumulation_texts["diagonal"] | convert_markdown | safe }}
                        {% endif %}

                        {% if context.cumulation_types["extended"] == true %}
                            <p class="b">Extended cumulation</p>
                            {{ context.cumulation_texts["extended"] | convert_markdown | safe }}
                        {% endif %}
                    </div>
                {% endif %}

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">Read more about cumulation in to the {{ context.scheme_title }}</span>
                    </summary>
                    <div class="govuk-details__text">
                        {{ context.cumulation | convert_markdown | safe }}
                    </div>
                </details>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Please note</span>
                        Bear cumulation rules in mind when working out if your non-originating parts
                        meet the product-specific rules.
                    </strong>
                </div>

                <p class="b">Next step</p>
                <p>
                    Click on the 'Continue' button to view the definition of '<strong>minimal operations</strong>' in the {{ context.scheme_title }}.
                    Any non-originating parts must be <strong>sufficiently processed</strong> to count as originating.
                </p>

                {{ govukButton({
                    text: "Continue",
                    href: "/roo/insufficient_processing/" + context.goods_nomenclature_item_id + "/" + context.country
                }) }}

            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            {% include "./aside.html" %}
        </div>
    </div>

{% endblock %}
</html>