{% extends "layout.html" %}

{% block pageTitle %}
  insufficient processing - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: "/commodities/" + commodity.data.attributes.goods_nomenclature_item_id + "/" + context.scope_id
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters roo_container">
            <form action="/roo/data_handler/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">
                <input type="hidden" name="phase" id="phase" value="insufficient_processing" >
                <span class="govuk-caption-xl commodity-split">{{ context.rules_of_origin_title | safe }}</span>
                <h1 class="govuk-heading-xl">Have non-originating parts been sufficiently processed?</h1>
                <p class="govuk-body-l">You have said that not all of the parts that make up your goods
                    originate in {{ context.country_name }}. In order to qualify for preferential treatment, your non-originating parts
                    need to have been sufficiently processed to count as originating.</p>

                <p class="govuk-body">Some operations are regarded as too minor to confer originating status to
                    non-originating materials that are used in the production of your goods. These operations are 
                    referred to as 'insufficient processing' and are specific to each trade agreement.</p>

                <p class="govuk-body">The insufficient processing operations for {{ context.country }} are listed below.</p>

                <h2 class="govuk-heading-m">'Insufficient processing' operations according to the {{ context.scheme_title }}</h2>
                {{ context.insufficient_processing | convert_markdown | link_to_roo_original(context.original) | safe }}


                {{ govukRadios({
                idPrefix: "insufficient_processing",
                name: "insufficient_processing",
                fieldset: {
                    legend: {
                    text: "Have your goods been subject to sufficient processing to qualify for preferential treatment?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s b"
                    }
                },
                hint: {
                    text: ""
                },
                items: [
                    {
                        value: "yes",
                        text: "Yes",
                        hint: {
                            text: ""
                        }
                    },
                    {
                        value: "no",
                        text: "No",
                        hint: {
                            text: ""
                        }
                    }
                ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    href: ""
                }) }}

            </form>
        </div>
    </div>

{% endblock %}
</html>