<details class='govuk-details' data-module='govuk-details'>
  <summary class='govuk-details__summary'>
    <span class='govuk-details__summary-text'>
      Read more about this topic in the trade agreement
    </span>
  </summary>
  <div class='govuk-details__text'>
    This information is derived from <strong>{{ ARTICLE }}</strong> of the {{ ORD }}.
    <br><br><a target='_blank' class='download' href='{{ URL }}'>Download rules of origin reference document (opens in new tab)</a>
  </div>
</details>