<!-- header starts here //-->
{{ govukHeader({
      homepageUrl: "https://www.gov.uk",
      serviceName: context.serviceName,
      serviceUrl: "/find-commodity",
      navigation: [
        {
          href: "/find-commodity/",
          text: "Search"
        },
        {
          href: "/browse/",
          text: "Browse"
        },
        {
          href: "/a-z-index/a/",
          text: "A to Z"
        },
        {
          href: "/tools/",
          text: "Tools"
        },
        {
          href: "/news/",
          text: "Updates"
        },
        {
          href: "/help/",
          text: "Help"
        }
      ]
    }) }}
<!-- header ends here //-->    